.idea
/**/bin/**
*.csproj
/**/obj/**

x64
/**/Debug/**

###config file
dbConfig.json
config.json
!*.template.json
appsettings.*.json
!appsettings.Env.Template.json

# efcore migrations
/**/Migrations/**

LinkedOut.sln.DotSettings.user